forge/
nbproject/
build/
bin/
*.class
/forge/fml/eclipse/.metadata/
downloads/
*.number
build.zip
download.zip
originals.zip
*.txt
*.bat
eclipse/
gradle/
.idea/
.gradle/
stats/
saves/
resourcepacks/
out/
*.env
*.iml
*.log
*.ipr
*.iws
config/*
mods/
*.gradle
*.lck
src/api
screenshots/*
gradlew